# Copie ce fichier en ".env" et remplis tes propres valeurs

# Base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=motdepasse
DB_NAME=taskflow

# Serveur
PORT=3000

# JWT
JWT_SECRET=change_cette_valeur_par_une_chaine_secrete_longue
JWT_EXPIRES_IN=7d
